<!DOCTYPE HTML>
<html lang="en" data-ng-app="homePage">
  <head>
    <title>Lars Willighagen</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#000000">
    
    <meta name="google-site-verification" content="1ktyNeIn6BksL6wX78qL7hFjpzgx1VzRGnMu0NSl78s" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto+Slab" />
    
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css" />
    <link rel="stylesheet" href="style.css" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png?v=YAKejNmgy9">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png?v=YAKejNmgy9">
    <link rel="icon" type="image/png" sizes="192x192" href="./android-chrome-192x192.png?v=YAKejNmgy9">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png?v=YAKejNmgy9">
    <link rel="manifest" href="./manifest.json?v=YAKejNmgy9">
    <link rel="mask-icon" href="./safari-pinned-tab.svg?v=YAKejNmgy9" color="#5bbad5">
    <link rel="shortcut icon" href="./favicon.ico?v=YAKejNmgy9">
  </head>
  <body>
    
    <div id="main" data-ng-controller="homeController"
        class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title" id="title">Lars Willighagen</span>
          
          <div class="mdl-layout-spacer"></div>
          
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="blog">Blog</a>
          </nav>
        </div>
      </header>
      
      <div class="mdl-layout__drawer">
        <h2 class="mdl-layout-title">Navigation</h2>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" data-ng-href="#">Home</a>
          <div data-ng-repeat="(key, article) in articles">
            <a class="mdl-navigation__link" data-ng-href="#{{key}}">{{article.title}}</a>
            <div data-ng-if="article.sections && article.sections.length" style="text-indent:2em;">
              <div data-ng-repeat="section in article.sections">
                <a class="mdl-navigation__link" data-ng-href="#{{key}}_{{getID(section.title)}}">{{section.title}}</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      
      <div id="content" class="mdl-layout__content">
        <header class="mdl-shadow--8dp">
          <p class="mdl-card__supporting-text">
            Hi, and welcome to my site. Here, you'll find some things I've made, and some things I have
            participated in, like the <a href="#/programmes/contentminefellowship">ContentMine Fellowship</a>
            mentioned below. I might host some other things on this page in the future as well. See also
            <a href="blog/">my blog</a>.
          </p>
          
          <p class="mdl-card__supporting-text">
            Some things you might enjoy: The svm demo right below, the <a href="https://larsgw.github.io/ctj-cardlists/cardlist/">cardlist demo</a>
            and the <a href="https://larsgw.github.io/citation.js/demo/demo.html">Citation.js API demo</a>.
          </p>
          
          <hr>
          
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <strong>Twitter</strong>:
              <a href="https://twitter.com/larswillighagen">@larswillighagen</a>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <strong>GitHub</strong>:
              <a href="https://github.com/larsgw">larsgw</a>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <strong>npm</strong>:
              <a href="https://npmjs.org/~larsgw">larsgw</a>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <strong>StackOverflow</strong>:
              <a href="http://stackoverflow.com/users/5095300/larsw">larsw</a>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <strong>ORCID</strong>:
              <a href="http://orcid.org/0000-0002-4751-4637">0000-0002-4751-4637</a>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <strong>Blog</strong>:
              <a href="https://larsgw.blogspot.com/">Syntaxus baccata</a>
            </div>
          </div>
        </header>
        
        <div class="page-content">
          <article class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <h2>SVM demo</h2>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <iframe src="svm-demo/svm.html" style="width:100%;height:300px;border:0;"></iframe>
            </div>
          </article>
          
          <article data-ng-repeat="(key, article) in articles" class="mdl-grid"
                  data-ng-attr-id="{{key}}">
            <div class="mdl-cell mdl-cell--12-col">
              <h2 data-ng-attr-id="/{{key}}">{{article.title}}</h2>
              
              <p data-ng-repeat="paragraph in article.text" data-ng-bind-html="paragraph"></p>
            </div>
            
            <div data-ng-repeat="section in article.sections"
                data-ng-attr-id="/{{key}}_{{getID(section.title)}}"
                class="mdl-cell mdl-card mdl-cell--4-col mdl-shadow--4dp">
              <div class="mdl-card__media">
                <img class="article-image" style="border:0" src="javascript:void(0)" alt="loading"
                    data-ng-attr-src="{{section.img}}" data-ng-attr-alt="{{section.caption}}" />
              </div>
              <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">{{section.title}}</h3>
              </div>
              <div class="mdl-card__supporting-text">
                <p data-ng-bind-html="section.text[0]"></p>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a data-ng-attr-href="#/{{key}}/{{getID(section.title)}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">Read more</a>
              </div>
            </div>
          </article>
          
          <div id="view"><div data-ng-view class="mdl-card mdl-shadow--16dp"></div></div>
        </div>
        
        <footer class="mdl-mega-footer">
          
          <div id="/sitemap" class="mdl-mega-footer__middle-section">
            <div class="mdl-mega-footer__drop-down-section">
              <h1 class="mdl-mega-footer__heading">Home</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="https://larsgw.github.io/">Home</a></li>
                <li><a href="https://larsgw.github.io/blog/">Blog</a></li>
                <li><a href="https://larsgw.github.io/old/">Old homepage</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer__drop-down-section">
              <h1 class="mdl-mega-footer__heading">ContentMine</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="https://larsgw.github.io/contentmine-fellowship/">Home</a></li>
                <li><a href="https://larsgw.github.io/ctj-cardlists/cardlist/">CTJ Cardlists</a></li>
                <li><a href="https://larsgw.github.io/ctj-factvis/">CTJ Factvis</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer__drop-down-section">
              <h1 class="mdl-mega-footer__heading">Citation.js</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="https://larsgw.github.io/citation.js/">Home</a></li>
                <li><a href="https://larsgw.github.io/citation.js/demo/jquery.html">Demo</a></li>
                <li><a href="https://larsgw.github.io/citation.js/demo/demo.html">API demo</a></li>
                <li><a href="https://larsgw.github.io/citation.js/api">Docs</a></li>
                <li><a href="https://larsgw.github.io/citation.js/test">Build tests</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer__drop-down-section">
              <h1 class="mdl-mega-footer__heading">SVM</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="https://larsgw.github.io/svm/">Home</a></li>
                <li><a href="https://larsgw.github.io/svm/demo.html">Demo</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer__drop-down-section">
              <h1 class="mdl-mega-footer__heading">InlinEdit</h1>
              <ul class="mdl-mega-footer__link-list">
                <li><a href="https://larsgw.github.io/InlinEdit/">Home</a></li>
                <li><a href="https://larsgw.github.io/InlinEdit/test.html">Demo</a></li>
                <li><a href="https://larsgw.github.io/InlinEdit/documentation.html">Docs</a></li>
              </ul>
            </div>
          </div>
          
          <div class="mdl-mega-footer__bottom-section">
            <div class="mdl-logo">Lars Willighagen</div>
            <div class="mdl-mega-footer__left-section">
              <ul class="mdl-mega-footer__link-list">
                <li><a href="https://github.com/larsgw/larsgw.github.io/blob/master/README.md">Attribution</a></li>
                <li><a href="https://github.com/larsgw/larsgw.github.io/blob/master/LICENSE.md">License</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer__right-section">
              <ul class="mdl-mini-footer__link-list">
                <li><a href="https://validator.w3.org/nu/?doc=http://larsgw.github.io/">
                  <img style="border:0;height:36px" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_64.png" alt="Valid HTML5">
                </a></li>
                <li><a href="https://jigsaw.w3.org/css-validator/check/referer">
                  <img style="border:0;height:36px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/170px-CSS3_logo_and_wordmark.svg.png" alt="Valid CSS3">
                </a></li>
              </ul>
            </div>
          </div>
          
        </footer>
      </div>
    </div>
    
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-sanitize.min.js"></script>
    
    <script type="application/javascript" src="https://code.getmdl.io/1.0.6/material.min.js"></script>
    
    <script type="application/javascript" src="app.js"></script>
  </body>
</html>