.mdl-layout__header {
  z-index: 1;
}

.article-image {
  width:100%;
  height:250px;
  object-fit:cover;
}

#main {
  background: url('https://lh3.googleusercontent.com/od49N-VJX_8MjUMUvJ120bSSfmoUoXVe8tlztg4WT6rgUqA1d6PKirj-oVP1Ghpe5fY6e8vgS_IdR-YLXdAPICdh-Pex_sdL8Edh-2uC0sPSvj-nZDv0PIHISfG9P84d81STxbRO-DfIknQxtp6BtfOYlKUjwwVUgM0DdyYghHL3qZzh2pe5sjuKguMz6H39-OwYziO7R6GqiVt1XTZppnrtuqwlKMEzNd6LuuYj6MOurWvwMl1B0qNH0fp57dX1FWE0pv_6GtcV1LY46I2bWgk2OK0L2VzA8t1CiMQPdC7r7JW7NzW2XbP9e79uKad_R3FWE9ld7Oy_BJ9RHxes-czvUiD9OzrAighHuIvLLXr3Im7lA_gZNi_-wUnZtZXZGBTAs3IBe1yTeucDJwLfXyt_9JiLobAl1BM_wYkmt-OlTcgngWgNDDMiCjdHTLxcrmC0sFrBoHGjWx3t8Dmznu5kgd8gdY5kURkCePBqN-wgEeGPrzz2z1dyDunYYcNMl49vFQf4fHb9J4ZAdJennAz3wurTZAVz8AMStksTuIRfbuqn1aeDhvVRT0JpqCyc1QPTMVOiKpuF-ZlANH7bn2uxlvFhZ20DX2fa9doZ5XEILiQsqaGsni25Ra37FcRLzZwPJ23lnuIBFD_lpRi7fp797AX9iGteG4BLGZgOXQ=w1623-h1080-no')
  center / cover;
}

#title {
  background-color: rgba(0,0,0,0.67);
  padding: 5px;
  border-radius: 2px;
}

#content #view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 50px 0;
  
  background: rgba(0, 0, 0, .1);
  
  overflow-y: auto;
}

  #content #view:empty {
    display: none;
  }
  
  #content #view #close {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ececec;
  }
  
  #content #view > div {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: visible;
  }

    #content #view .mdl-card__supporting-text > div > div {
      padding: 0 20px;
    }

      #content #view .mdl-card__supporting-text > div > div:nth-of-type(n + 1) header:first-child {
        border-top: 1px solid rgba(0,0,0,.1);
      }

#content > header {
  position: relative;
  z-index: 1;
  min-width: 300px;
  width: 60%;
  max-width: 600px;
  margin: 200px auto 20px auto;
  padding-top: 1px;
  
  background: white;
  border-radius: 2px;
}

  #content > header p {
    color: rgba(0, 0, 0, .87);
    margin: 0;
  }

#content .page-content {
  background: white;
  padding: 0 20px 64px 20px;
}

  #content .page-content > article {
    max-width: 1200px;
    margin: 0 auto;
  }